<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Identifikasi Metode Pengeringan Teripang</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>IDENTIFIKASI METODE PENGERINGAN TERIPANG</h1>

    <p>
        Sistem Identifikasi Menggunakan Deep Learning YOLOv11 Small
    </p>

    <form action="/predict" method="POST" enctype="multipart/form-data">

        <div class="panel">

            <div class="card">

                <h2>INPUT GAMBAR</h2>

                <input
                    type="file"
                    id="imageInput"
                    name="image"
                    accept=".jpg,.jpeg,.png"
                    onchange="previewImage(event)"
                    required>

                <div class="preview">

                    <img id="preview" src="" alt="Preview">

                </div>

            </div>

            <div class="card">

                <h2>HASIL DETEKSI</h2>

                <div class="preview">

                    <img src="https://placehold.co/400x300?text=Hasil+Deteksi"
                         alt="hasil">

                </div>

                <p>
                    Hasil akan tampil setelah proses identifikasi.
                </p>

            </div>

        </div>

        <button type="submit">

            MULAI IDENTIFIKASI

        </button>

    </form>

</div>

<script>

function previewImage(event){

    const reader = new FileReader();

    reader.onload = function(){

        document.getElementById("preview").src = reader.result;

    }

    reader.readAsDataURL(event.target.files[0]);

}

</script>

</body>

</html>